html{
    scroll-behavior: smooth;
}
body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(219, 210, 115);
}

footer{
    color: white;
    padding: 20px;
    background-color: rgb(93, 75, 78);
    text-align: center;
}